@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

body {
  @apply font-sans;
}

.hover-gradient-text:hover {
  background: linear-gradient(135deg, rgba(183, 110, 121, 1), rgba(212, 165, 165, 1), rgba(183, 110, 121, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(135deg, rgba(183, 110, 121, 1), rgba(212, 165, 165, 1), rgba(183, 110, 121, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}